body {
margin:0px;
color: #333333;
background-color:#dddddd;
font-family: "Times New Roman", Times, serif;
}

#container {
margin:10px;
width:1064px;
border: 1px solid #a1a1a1;
background-color:#ffffff;
border-radius:5px;
margin-left:auto;
margin-right:auto;
}

#header {
clear:both;
}

#navigation {
clear:both;
}

#navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	width:100%;
}

#navigation  ul li {
    float: left;	
}

#navigation  ul li a:link, #navigation  ul li a:visited {
    display: block;
    font-weight: bold;
	width:196px;
    color: #FFFFFF;
    background-color: #98bf21;
    text-align: center;
    padding: 4px;
    text-decoration: none;
}

#navigation  ul li  a:hover, #navigation  ul li  a.active {
    background-color: #7A991A;
}

#content {
 clear:both;
}

#content2 {
 clear:both;
}
#content2 table {
	width:100%;
	border:1px solid #98bf21;
	padding-left:20px;
	text-align:left;
}

#footer {
clear:both;
}

.margin {
margin:10px;
width:1024px;
margin-left:auto;
margin-right:auto;
}

.pagination {
	clear:both;
	Float:right;
	text-align:center;
}

.banner{
 border:1px solid #98bf21;
 width:500px;
 height:160px;
}

h3 {
color: #7A991A;
}